@model CoachCue.Model.user
@using CoachCue.Model;

<div class="item clear player-item">
    <div class="content">
        <div class="content-header">
            <a data-account-id='@Model.userID' class="username" href="@Url.Action("Index", "Coach", new { id = Model.userID, name = Model.fullName })">@Model.fullName</a>
        </div>
        <div class="item-hover-menu">
            @if (!User.Identity.IsAuthenticated){
            <a data-account-type="users" data-account='@Model.userID' class="btn btn-success btn-mini action"data-toggle="modal" href="#register-modal"><i class="icon-plus-sign"></i>Follow</a>
        }else{
            if (!Model.isFollowing){
            <a data-account-type="users" data-account='@Model.userID' class="btn btn-success btn-mini follow action" href="#"><i class="icon-plus-sign"></i>Follow</a>
            }
            else
            {
                <a data-account-type="users" data-account='@Model.userID' class="btn btn-danger unfollow btn-mini action" href="#"><i class="icon-minus-sign"></i>unfollow</a>
            }
        }
        </div>
        <img class="avatar player-item-avatar" src='@Url.Content("~/assets/img/avatar/" + @Model.avatar.imageName)' alt="@Model.fullName">
        <span>@@@Model.userName</span>
    </div>
</div>
    