@model CoachCue.ViewModels.BaseViewModel
@using CoachCue.Helpers;
@using System.Web.Optimization;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if(ViewBag.Description != null){
    <meta name="description" content="@ViewBag.Description" />
    }
    else
    {
        <meta itemprop="description" name="description" content="Get instant advice for all of your Who Should I Start? questions. View results from 100+ player matchups." />
    }
    @if (ViewBag.Keywords != null){
    <meta name="keywords" content="@ViewBag.Keywords" />
    }else{
    <meta name="keywords" content="nfl,football,fantasy,fantasy sports,fantasy football,Who should I Start" />
    }

    @if (ViewBag.twitterCard != null)
    {
    <meta name="twitter:card" content="@ViewBag.twitterCard" />
    }
    
    @if (ViewBag.twitterSite != null)
    {
    <meta name="twitter:site" content="@ViewBag.twitterSite" />
    }
    
    @if (ViewBag.twitterTitle != null)
    {
    <meta name="twitter:title" content="@ViewBag.twitterTitle" />
    }
    
    @if (ViewBag.twitterDescription != null)
    {
    <meta name="twitter:description" content="@ViewBag.twitterDescription" />
    }
    
    @if (ViewBag.twitterImage != null)
    {
    <meta name="twitter:image" content="@ViewBag.twitterImage" />
    }

    @if (ViewBag.twitterUrl != null)
    {
    <meta name="twitter:url" content="@ViewBag.twitterUrl" />
    }
    
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="~/assets/js/libs/slidepanel/css/jquery.slidepanel.css">
    @Styles.Render("~/assets/css/bundle")

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>    
    <script src="~/assets/js/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.placeholder.min.js" type="text/javascript"></script>

    <script type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "Organization",
        "name" : "CoachCue",
        "url" : "http://www.CoachCue.com/",
        "logo": "http://coachcue.com/assets/img/cc_logo-2.png",
        "sameAs" : [
        "https://twitter.com/coachcue",
        "https://www.facebook.com/coachcue",
        "https://medium.com/@@CoachCue"
        ]
        }
    </script>

    <script type="text/javascript">
        $(function () {
            setValidation();
        });     
    </script>

    <script type="text/javascript">
        window.twttr = (function (d, s, id) { var t, js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return } js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } }) }(document, "script", "twitter-wjs"));
    </script>

    @{Html.RenderPartial("_GoogleAnalytics");}
</head>

<body>
    <div id="main-wrap">
        <nav id="main-nav-bar" class="navbar navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">                  
                    <a class="navbar-brand brand logo" href="@Url.Action("Index", "Home")">CoachCue</a>
                </div>

                <div class="collapse navbar-collapse" id="main-navbar-collapse">
                    <ul class="nav navbar-nav nav-main-links">                        
                        <li>
                            <a  data-slidepanel="panel" href=@((!User.Identity.IsAuthenticated) ? "/Post/LoginRegister" : "/Post/NewMatchup") class="button select-new-matchup">
                            <span class="glyphicon navicon-CC2016_Matchup_Icon">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
                            </span>Matchup</a>
                        </li>

                        <li style="height: 50px;">
                            <a style="top: -7px;" data-slidepanel="panel" href=@((!User.Identity.IsAuthenticated) ? "/Post/LoginRegister" : "/Post/NewMessage") class="button select-new-matchup">
                                <span class="navicon-CC2016_Message_Icon_03"></span>
                                Message
                            </a>
                        </li>
                    </ul>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li title="Notifications <a class='view-all-notifications' href='/account/notifications'>View All</a>" data-content='<ul id="notice-list"></ul>'  data-toggle="popover" id="user-notifications" class="@Html.ActiveSection("Account")"><span class="badge badge-important notice-number">@Model.NoticeCount</span><span id="notice-bell" class="glyphicon glyphicon-bell"></span><a class="notices" href='#'></a></li>

                            <li class="dropdown you-dropdown @Html.ActiveSection("Account")">

                                <a class="dropdown-toggle profile-link" data-toggle="dropdown" href="#">
                                    <span class="glyphicon glyphicon-user"></span>Me<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu profile-nav-links">
                                    <li><a href='@Url.Action("Profile", "Account")'>Profile</a></li>
                                    <li class="divider"></li>
                                    <li><a id="invite-btn" data-toggle="modal" href='#invite-friend-modal'>Invite a Friend</a></li>
                                    <li class="divider"></li>
                                    <li><a href='@Url.Action("Settings", "Account")'>Settings</a></li>
                                    <li><a href='@Url.Action("LogOff", "Account")'>Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    }

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a style="color: #fff;" data-slidepanel="panel" class="login-register" href="/Post/LoginRegister">Register</a></li>
                            <li class="divider-vertical"></li>
                            <li><a style="color: #fff;" data-slidepanel="panel" class="login-register" href="/Post/LoginRegister">Login</a></li>
                        </ul>
                    }

                </div>

            </div>
        </nav>

        <div class="container">

            <!-- main body -->
            <div class="col-md-8 section">

                @if (!User.Identity.IsAuthenticated){
                    <div class="row">
                        <div class="alert alert-info signup-alert">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong><a data-slidepanel="panel" class="login-register" href="/Post/LoginRegister">Join CoachCue!</a></strong> to get help with Who Should I Start decisions from an awesome community.
                        </div>
                    </div>
            }

                <div class="row">
                    @RenderBody()
                </div>
            </div>

            <!-- right hand side -->
            <div class="col-md-4 right-side pull-right hidden-xs hidden-sm">

                @RenderSection("rightColumn", required: true)

                <div class="row pod-ads" data-spy="affix" data-offset-top="1120">
                    <div class="panel panel-default partners">
                        <div class="panel-heading">
                            <h3 class="panel-title">Partners</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <iframe scrolling='no' frameBorder='0' style='padding:0px; margin:0px; border:0px;border-style:none;border-style:none;' width='250' height='250' src="http://wlfanduel.adsrv.eacdn.com/I.ashx?btag=a_12748b_1411c_&affid=8951&siteid=12748&adid=1411&c="></iframe>                                
                                </li>                               
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="pod pod-child span4">

                        <ul class="footer icons">
                            <li><a target="_blank" href="https://twitter.com/coachcue"><img src="@Url.Content("~/assets/img/social/twitter.png")"></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/coachcue"><img src="@Url.Content("~/assets/img/social/facebook.png")"></a></li>
                            <li><a href="#contact-modal" data-toggle="modal"><img src="@Url.Content("~/assets/img/social/cue.png")"></a></li>
                        </ul>

                        <ul class="footer links">
                            <li><a target="_blank" href="https://medium.com/&#64;CoachCue">Blog</a>&nbsp;|</li>
                            <li><a href="@Url.Action("Index", "About")">About</a>&nbsp;|</li>
                            <li class="copyright">©2016 CoachCue LLC</li>
                        </ul>

                    </div>
                </div>

            </div>


            <!-- invite a friend modal -->
            <div class="modal fade" role="dialog" id="invite-friend-modal" style="display: none">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">Invite Friends to CoachCue</h4>
                        </div>

                        <form id="frmSendInvite" method="post" class="validate form-horizontal">

                            <div class="modal-body">
                                <div id="invite-sent" style="display: none" class="alert alert-info fade in">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    Thanks! Your invite has been sent.
                                </div>
                                <div class="form-group">
                                    <label class="standout">Enter the email address of a friend</label>
                                    <input type="text" id="inviteEmail" placeholder="Email Address" name="inviteEmail" class="form-control email" data-required="true" />
                                    <span style="display: none" class="help-inline validation-message">Oops we need your friends email address</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label standout" for="username">Add Personal Message (optional)</label>
                                    <div class="controls">
                                        <textarea id="inviteMsg" rows="6" style="width: 315px;" name="inviteMsg" class="bubble">Hey, check out a site I like called CoachCue. It's a social network website for fantasy sports.</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div style="margin-left: 330px" class="sending-spinner"></div>
                                <button type="submit" id="btnSendInvite" class="btn btn-warning btn-primary">Send Invite</button>
                                <button data-dismiss="modal" class="btn">CLOSE</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <!-- contact modal -->
            <div class="modal fade" role="dialog" id="contact-modal" style="display: none">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Tell us anything, we love hearing from you!</h4>
                        </div>

                        <form id="frmContactUs" method="post" class="validate form-horizontal">

                            <div class="modal-body">
                                <div id="contact-sent" style="display: none" class="alert alert-info fade in">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    Thanks! Your message has been sent.
                                </div>

                                <div class="form-group">
                                    <label class="control-label standout" for="username">Email Address</label>
                                    <div class="controls">
                                        <input type="text" id="cntEmail" name="cntEmail" class="bubble email" data-required="true" />
                                        <span style="display: none" class="help-inline validation-message">Oops we need your email address</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label standout" for="username">Message</label>
                                    <div class="controls">
                                        <textarea id="message" rows="10" style="width: 315px;" name="message" class="bubble" data-required="true"></textarea>
                                        <span style="display: none" class="help-inline validation-message">Tell us something</span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div style="margin-left: 410px" class="sending-spinner" id="sending"></div>
                                <button type="submit" id="btnSend" class="btn btn-warning btn-primary">Send Message</button>
                                <button data-dismiss="modal" class="btn">CLOSE</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <!-- flyout notices -->
            <div id="alertmsg" class="alert alert-warning flyover flyover-top">
                <h1>Oh Snap!</h1>
                <p>Something bad happened.  You should try to fix it before it gets worse.</p>
            </div>

            <!-- hidden modal -->
            <div class="modal fade hidden" id="hidden-modal" style="display: none">
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
            <div class="row" id="bottomNav">
                <div class="col-xs-3 text-center">
                    @if (!User.Identity.IsAuthenticated) {
                        <a role="button" data-slidepanel="panel" class="login-register" href="/Post/LoginRegister"><i class="glyphicon glyphicon-user"></i><br>My Matchups</a>
                    } else {
                        <a href="@Url.Action("Index", "Coach", new { id = Model.AccountID, name = Model.Name })"><i class="glyphicon glyphicon-user"></i><br>My Matchups</a>
                    }
                </div>
                <div class="col-xs-3 text-center">
                    <a href="@Url.Action("News", "WhoDoIStart")"><i class="glyphicon glyphicon-fire"></i><br>Trending News</a>
                </div>
                <div class="col-xs-3 text-center">
                    <a href="@Url.Action("TopPlayers", "WhoDoIStart")"><i class="glyphicon glyphicon-thumbs-up"></i><br>Most Voted</a>
                </div>
                <div class="col-xs-3 text-center">
                    <a href='@Url.Action("Index", "Leaderboard")'><i class="glyphicon glyphicon-star"></i><br>Our Experts</a>
                </div>
            </div>
        </div>
    </div>


    @RenderSection("pagescripts", required: false) 

    <!-- javascript placed at the end of the document so the pages load faster -->   
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/assets/js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="~/assets/js/typeahead.min.js"></script>
    <!-- end of bootstrap libraries -->

    @Scripts.Render("~/assets/js/bundle")

    <script type="text/javascript" src="~/assets/js/libs/slidepanel/js/jquery.slidepanel.js"></script>
    <script src="~/assets/js/jquery.unveil.js" type="text/javascript"></script>

</body>
</html>
