@model CoachCue.ViewModels.BaseViewModel
@using CoachCue.Helpers;
@using System.Web.Optimization;
@using CoachCue.Models;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta name="twitter:image" content="http://coachcue.com/assets/img/twittercard-matchup1.png" />
    <meta property="og:image" content="http://coachcue.com/assets/img/twittercard-matchup1.png" />

    @if(ViewBag.Description != null){
    <meta name="description" content="@ViewBag.Description" />
    }
    else
    {
        <meta itemprop="description" name="description" content="Get instant advice for all of your Who Do I Start? questions. View results from 100+ player matchups." />
    }
    @if (ViewBag.Keywords != null){
    <meta name="keywords" content="@ViewBag.Keywords" />
    }else{
    <meta name="keywords" content="nfl,football,fantasy,fantasy sports,fantasy football,Who Do I Start" />
    }

    @if (ViewBag.twitterCard != null)
    {
    <meta name="twitter:card" content="@ViewBag.twitterCard" />
    }
    
    @if (ViewBag.twitterSite != null)
    {
    <meta name="twitter:site" content="@ViewBag.twitterSite" />
    }
    
    @if (ViewBag.twitterTitle != null)
    {
    <meta name="twitter:title" content="@ViewBag.twitterTitle" />
    <meta property="og:title" content="@ViewBag.twitterTitle" />
    }
    
    @if (ViewBag.twitterDescription != null)
    {
    <meta name="twitter:description" content="@ViewBag.twitterDescription" />
    <meta property="og:description" content="@ViewBag.twitterDescription" />
    }
    else
    {
    <meta property="og:description" content="Get instant advice for all of your Who Do I Start? questions. View results from 100+ player matchups." />
    }

    @if (ViewBag.twitterUrl != null)
    {
    <meta name="twitter:url" content="@ViewBag.twitterUrl" />
    <meta property="og:url" content="@ViewBag.twitterUrl" />
    }
    else
    {
    <meta property="og:url" content="http://coachcue.com" />
    }

    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> 
    <link rel="manifest" href="/manifest.json">
    @Styles.Render("~/assets/css/bundle")

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>    
    <script src="~/assets/js/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.placeholder.min.js" type="text/javascript"></script>

    <script type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "Organization",
        "name" : "CoachCue",
        "url" : "http://www.CoachCue.com/",
        "logo": "http://coachcue.com/assets/img/cc_logo-2.png",
        "sameAs" : [
        "https://twitter.com/coachcue",
        "https://www.facebook.com/coachcue",
        "https://medium.com/@@CoachCue"
        ]
        }
    </script>

    <script type="text/javascript">
        $(function () {
            setValidation();
        });     
    </script>

    <script type="text/javascript">
        window.twttr = (function (d, s, id) { var t, js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return } js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } }) }(document, "script", "twitter-wjs"));
    </script>

    @{Html.RenderPartial("_GoogleAnalytics");}
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'1d2b518a-9b6a-42a1-b785-ffd46b1ed96c'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>

<body>
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="main-wrap">
        <nav id="main-nav-bar" class="navbar navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">                  
                    <a class="navbar-brand brand logo" href="@Url.Action("index", "home")">CoachCue</a>
                </div>

                <div class="collapse navbar-collapse" id="main-navbar-collapse">                 

                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li title="Notifications" id="user-notifications" class="@Html.ActiveSection("Account")"><span class="badge badge-important notice-number">@Model.UserData.NotificationCount</span><span id="notice-bell" class="glyphicon glyphicon-bell"></span><a class="notices" href='@Url.Action("notifications", "account")'></a></li>

                            <li class="dropdown you-dropdown @Html.ActiveSection("Account")">

                                <a class="dropdown-toggle profile-link" data-toggle="dropdown" href="#">                                  
                                    <img alt="@Model.UserData.Name" class="img-rounded my-account-image" src="@Url.Content("~/assets/img/avatar/" + Model.UserData.ProfileImage)" />
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu profile-nav-links">
                                    <li><a href='@Url.Action("profile", "account")'>Profile</a></li>
                                    <li class="divider"></li>
                                    <li><a href='@Url.Action("notifications", "account")'>Notifications (@Model.UserData.NotificationCount)</a></li>
                                    <li class="divider"></li>
                                    <li><a href='@Url.Action("settings", "account")'>Settings</a></li>
                                    <li><a href='@Url.Action("logoff", "account")'>Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    }

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a style="color: #fff;" data-register="true" data-backdrop="static" data-keyboard="false" href="#modal-register" data-toggle="modal" data-target="#modal-register">Join</a></li>
                            <li class="divider-vertical"></li>
                            <li><a style="color: #fff;"  data-register="false" data-backdrop="static" data-keyboard="false" href="#modal-register" data-toggle="modal" data-target="#modal-register">Login</a></li>
                        </ul>
                    }

                </div>

            </div>
        </nav>

        <div class="container">

            <!-- main body -->
            <div class="col-md-8 section">

                @if (!User.Identity.IsAuthenticated){
                    <div class="row">
                        <div class="alert alert-info signup-alert">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong><a data-register="true" data-backdrop="static" data-keyboard="false" href="#modal-register" data-toggle="modal" data-target="#modal-register">Join CoachCue!</a></strong> to get help with Who Should I Start decisions from an awesome community.
                        </div>
                    </div>
                }

                <div class="row">
                    @RenderBody()
                </div>
            </div>

            <!-- right hand side -->
            <div class="col-md-4 right-side pull-right hidden-xs hidden-sm">

                @RenderSection("rightColumn", required: true)

                @*
                <div class="row pod-ads" data-spy="affix" data-offset-top="1120">
                    <div class="panel panel-default partners">
                        <div class="panel-heading">
                            <h3 class="panel-title">Partners</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <iframe scrolling='no' frameBorder='0' style='padding:0px; margin:0px; border:0px;border-style:none;border-style:none;' width='250' height='250' src="http://wlfanduel.adsrv.eacdn.com/I.ashx?btag=a_12748b_1411c_&affid=8951&siteid=12748&adid=1411&c="></iframe>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                *@
                <div class="row">
                    <div class="pod pod-child span4">

                        <ul class="footer icons">
                            <li><a target="_blank" href="https://twitter.com/coachcue"><img src="@Url.Content("~/assets/img/social/twitter.png")"></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/coachcue"><img src="@Url.Content("~/assets/img/social/facebook.png")"></a></li>
                            <li><a href="@Url.Action("index", "contactus")"><img src="@Url.Content("~/assets/img/social/cue.png")"></a></li>
                        </ul>

                        <ul class="footer links">
                            <li><a target="_blank" href="https://medium.com/&#64;CoachCue">Blog</a>&nbsp;|</li>
                            <li><a href="@Url.Action("index", "about")">About</a>&nbsp;|</li>
                            <li><a href="@Url.Action("index", "contactus")">Contact Us</a>&nbsp;|</li>
                            <li class="copyright">©2017 CoachCue LLC</li>
                        </ul>

                    </div>
                </div>

            </div>

            <!-- global nav buttons -->
            <div class="global-button-items">

                <div class="global-button-item global-button-item-message">
                    <div class="global-button-item-sub">
                        <a data-register="true" data-backdrop="static" data-keyboard="false" href=@((!User.Identity.IsAuthenticated) ? "#modal-register" : "#modal-message") data-toggle="modal" data-target=@((!User.Identity.IsAuthenticated) ? "#modal-register" : "#modal-message")>
                            <span class="navicon-CC2016_Message_Icon_03"></span>
                            <span class="global-button-item-text">Message</span>
                        </a>
                    </div>
                </div>

                <div class="global-button-item global-button-item-matchup">
                    <div class="global-button-item-sub">
                        <a  data-invite="false" data-register="true" data-backdrop="static" data-keyboard="false" href=@((!User.Identity.IsAuthenticated) ? "#modal-register" : "#modal-matchup") data-toggle="modal" data-target=@((!User.Identity.IsAuthenticated) ? "#modal-register" : "#modal-matchup")>
                            <span class="glyphicon navicon-CC2016_Matchup_Icon">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
                            </span><span class="global-button-item-text">Matchup</span>
                        </a>
                    </div>
                </div>
            </div>  

            <!-- invite a friend modal -->
            <div class="modal fade" role="dialog" id="invite-friend-modal" style="display: none">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">Invite Friends to CoachCue</h4>
                        </div>

                        <form id="frmSendInvite" method="post" class="validate form-horizontal">

                            <div class="modal-body">
                                <div id="invite-sent" style="display: none" class="alert alert-info fade in">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    Thanks! Your invite has been sent.
                                </div>
                                <div class="form-group">
                                    <label class="standout">Enter the email address of a friend</label>
                                    <input type="text" id="inviteEmail" placeholder="Email Address" name="inviteEmail" class="form-control email" data-required="true" />
                                    <span style="display: none" class="help-inline validation-message">Oops we need your friends email address</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label standout" for="username">Add Personal Message (optional)</label>
                                    <div class="controls">
                                        <textarea id="inviteMsg" rows="6" style="width: 315px;" name="inviteMsg" class="bubble">Hey, check out a site I like called CoachCue. It's a social network website for fantasy sports.</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div style="margin-left: 330px" class="sending-spinner"></div>
                                <button type="submit" id="btnSendInvite" class="btn btn-warning btn-primary">Send Invite</button>
                                <button data-dismiss="modal" class="btn">CLOSE</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <!-- flyout notices -->
            <div id="alertmsg" class="alert alert-warning flyover flyover-top">
                <h1>Oh Snap!</h1>
                <p>Something bad happened.  You should try to fix it before it gets worse.</p>
            </div>

            <!-- full screen login/registration modal -->
             <div class="modal modal-fullscreen" id="modal-register" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title"></h4>                         
                        </div>
                        <div class="modal-body">
                            <div class="message-post">
                                <div class="row">
                                    <form id="frmRegisterLogin" method="post" action="@Url.Action("createAccount", "account")" class="validate">                                     
                                        <h3>Join CoachCue</h3>                                      
                                        <div class="form-group">
                                            <input type="text" placeholder="Type your Name" id="regname" name="regname" class="form-control" data-required="true" />
                                            <span style="display: none" class="help-inline validation-message">Please list your full name</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Type your Email Address" id="regemail" name="regemail" class="form-control" data-validate-email="true" data-required="true" />
                                            <span style="display: none" class="help-inline validation-message email-validation-message">Oops that Email Address already exists or is invalid</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" placeholder="Type your Password" id="regwrd" name="regwrd" class="form-control" data-required="true" />
                                            <span style="display: none" class="help-inline validation-message">Don't forget your password</span>
                                        </div>

                                        <div class="form-group">
                                            <button type="button" id="btnCreateAccount" class="btn btn-warning">Create Account</button>
                                            <span class="validation-message">Already a member? <a id="already-member-link" href="#">Sign in</a></span>
                                        </div>
                                    </form>

                                    <form id="frmLoginReg" method="post" action="@Url.Action("logonajax", "account")" style="display: none" class="validate">
                                        <h3>CoachCue Login</h3>  
                                        <div id="login-error" style="display:none">
                                            <label class="standout">Email Address or Password is invalid</label>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" placeholder="Email Address" id="username" name="username" class="form-control" data-required="true" />
                                            <span style="display: none" class="help-inline validation-message">Gotta have an email address</span>
                                        </div>

                                        <div class="form-group">
                                            <input placeholder="Password" type="password" id="password" name="password" class="form-control" data-required="true" />
                                            <span style="display: none" class="help-inline validation-message">Gotta have a password</span>
                                        </div>

                                        <label style="display: none" class="control-label" for="rememberMe"></label>
                                        <div style="display: none" class="controls">
                                            <input type="checkbox" id="rememberMe" name="rememberMe" />
                                            <span class="help-inline standout">Remember Me</span>
                                        </div>

                                        <div class="form-group">
                                            <div class="controls">
                                                <a id="forgot-password-link" href="#">Forgot your Password?</a>
                                            </div>
                                        </div>

                                        <div id="forgot-password-controls" style="display: none">
                                            <input style="display: inline" placeholder="Email Address" type="text" id="forgot-username" class="form-control" />
                                            <button type="submit" id="btnGetPassword" class="btn btn-info btn-sm">Get Password</button>

                                            <div class="control-group">
                                                <label class="control-label standout"></label>
                                                <div class="controls">
                                                    <span id="forgot-password-message" style="display: none" class="help-inline standout"> </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" id="btnlogin" class="btn btn-warning btn-lg">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- full screen message modal -->        
            <div class="modal modal-fullscreen" id="modal-message" tabindex="-1" role="dialog" aria-hidden="true">
                <input type="hidden" id="msgType" value="general" />
                <input type="hidden" id="prnt-id" value="" />
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title"></h4>
                            <div class="post">
                                <button id="share-post" class="btn btn-warning disabled btn-lg" type="button">Share</button>
                                <div class="message-charNum">500</div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="user-img">
                                    <img class="img-rounded avatar large img-responsive" src='@Url.Content("~/assets/img/avatar/" + @Model.UserData.ProfileImage)' />
                                </div>
                                <div class="user">
                                    <span>
                                        <span class="full-name">@Model.UserData.Name</span>
                                        <span class="user-name">@@@Model.UserData.UserName</span>
                                    </span>
                                </div>
                            </div>
                            <div class="textarea-wrap">                               
                                <textarea class="users-typeahead" id="share-message" placeholder="Share some news (Add relevant players below)"></textarea>
                            </div>
                            <div style="padding-top: 8px;">
                                <div class="msg-players">                                 
                                    <div class="share-players">
                                        <input class="form-control" type="text" data-plyid="0" id="players" placeholder="+ Add Player(s) included in the message" />
                                        @foreach (Player player in Model.MessagePlayers)
                                        {
                                            <input type="hidden" class="player-tags" data-img="@player.Twitter.ProfileImage" data-name="@player.ShortName" value="@player.Id" />
                                        }
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="modal-footer">
                            <div class="photo" aria-label="Add photos">
                                <div tabindex="-1" class="photo-container" id="photo-upload-container" role="presentation">
                                    <div>
                                        <svg class="CQTbeRtL" viewBox="0 0 70 72" style="display: inline-block; fill: currentcolor; height: 1.25em; max-width: 100%; position: relative; user-select: none; vertical-align: text-bottom;">
                                            <g><path d="M59 14h-8.824a90.98 90.98 0 0 0-1.687-2.827C47.306 9.308 45.887 9 44.14 9H25.994c-1.748 0-3.166.308-4.35 2.173A91.165 91.165 0 0 0 19.958 14H11a8 8 0 0 0-8 8v30a8 8 0 0 0 8 8h48a8 8 0 0 0 8-8V22a8 8 0 0 0-8-8zM35.001 52.001c-8.823 0-16.001-7.178-16.001-16C19 27.178 26.178 20 35.001 20 43.823 20 51 27.178 51 36.001c0 8.822-7.177 16-15.999 16zm21-24.001a3 3 0 1 1 0-6.001A3 3 0 0 1 56 28z"></path><circle cx="35.001" cy="36" r="10"></circle></g>
                                        </svg>
                                        <div class="image-preview">
                                            <input type="file" accept="image/png, image/jpeg, image/gif" class="photo-file" id="input-file-preview" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- full screen matchup modal -->
            <div class="modal modal-fullscreen" id="modal-matchup" tabindex="-1" role="dialog" aria-hidden="true">
                <input type="hidden" id="msgType" value="general" />
                <input type="hidden" id="prnt-id" value="" />
                <div class="modal-dialog">
                    <div id="matchup-invite" class="modal-content" style="display: none">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <div class="post">
                                <button id="send-invites" class="btn btn-warning btn-lg" type="button"><i class="glyphicon glyphicon-envelope"></i> Send Invites</button>
                            </div>
                        </div>
                        <div class="modal-body" id="invite-body">
                            <div class="rwo">
                                <div class="col-md-12 col-xs-12">
                                    Invite Social Media friends to vote:
                                    <a class="ask-twitter-button btn-info btn btn-xs" href="#">Ask Twitter</a>
                                    <div class="fb-share-button"
                                         data-size="small"
                                         data-href="http://coachcue.com"
                                         data-layout="button">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="content ask-any-user">
                                        <div id="invite-user-list" style="margin-bottom: 20px">

                                        </div>
                                        <form role="form" style="margin-top: 0px; width: 100%">
                                            <div class="form-group">
                                                <input id="askFilterSearch" type="text" class="form-control ask-a-coach" placeholder="Search for a User to Invite">
                                            </div>
                                            <div id="searchlist" class="list-group">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="matchup-select" class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title"></h4>
                            <div class="post">
                                <button id="share-matchup" class="btn btn-warning btn-lg disabled" type="button">Share</button>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="user-img">
                                    <img class="img-rounded avatar large img-responsive" src='@Url.Content("~/assets/img/avatar/" + @Model.UserData.ProfileImage)' />
                                </div>
                                <div class="user">
                                    <span>
                                        <span class="full-name">@Model.UserData.Name</span>
                                        <span class="user-name">@@@Model.UserData.UserName</span>
                                    </span>
                                </div>
                            </div>
                            <div id="matchup-exists-alert" class="alert alert-danger" role="alert" style="display: none"> 
                                <strong>Matchup already exists</strong> <a id="matchup-exists-link" href="#">check the results so far </a>
                            </div>
                            <div class="textarea-wrap">
                                <select id="matchup-type" class="form-control">
                                    @foreach (var type in MatchupType.GetList()) {
                                    <option>@type</option>
                                    }
                                </select>

                                <ul class="list-group" style="margin-bottom: 0; margin-top: 8px">
                                    <li class="list-group-item">
                                        <div class="selected-player" style="display: none">
                                            <input type="hidden" id="player1-id" class="player-id" />
                                            <div class="content player-selected">
                                                <div class="content-header">
                                                    <span class="player-selected-name username"></span>
                                                    <span class="player-selected-bio username"></span>
                                                </div>
                                                <img class="player-selected-img avatar">
                                            </div>
                                        </div>
                                        <input type="text" data-plyid="0" class="matchup-player-select form-control" id="player1" placeholder="Player Choice 1" />
                                    </li>
                                    <li class="list-group-item">
                                        <div class="selected-player" style="display: none">
                                            <input type="hidden" id="player2-id" class="player-id" />
                                            <div class="content player-selected">
                                                <div class="content-header">
                                                    <span class="player-selected-name username"></span>
                                                    <span class="player-selected-bio username"></span>
                                                </div>
                                                <img class="player-selected-img avatar">
                                            </div>
                                        </div>
                                        <input type="text" data-plyid="0" class="matchup-player-select form-control" id="player2" placeholder="Player Choice 2" />
                                    </li>
                                    <li class="list-group-item" style="display: none">
                                        <div class="selected-player" style="display: none">
                                            <input type="hidden" id="player3-id" class="player-id" />
                                            <div class="content player-selected">
                                                <div class="content-header">
                                                    <span class="player-selected-name username"></span>
                                                    <span class="player-selected-bio username"></span>
                                                </div>
                                                <img class="player-selected-img avatar">
                                            </div>
                                        </div>
                                        <input type="text" data-plyid="0" class="matchup-player-select form-control" id="player3" placeholder="Player Choice 3 (optional)" />
                                    </li>
                                    <li class="list-group-item" style="display: none">
                                        <div class="selected-player" style="display: none">
                                            <input type="hidden" id="player4-id" class="player-id" />
                                            <div class="content player-selected">
                                                <div class="content-header">
                                                    <span class="player-selected-name username"></span>
                                                    <span class="player-selected-bio username"></span>
                                                </div>
                                                <img class="player-selected-img avatar">
                                            </div>
                                        </div>
                                        <input type="text" data-plyid="0" class="matchup-player-select form-control" id="player4" placeholder="Player Choice 4 (optional)" />
                                    </li>
                                    <li class="list-group-item list-group-item-warning">
                                        <a id="add-matchup-player" href="#"> + Add a player</a>                                       
                                    </li>
                                </ul>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
            <div class="row text-center" id="bottomNav">
                <div class="col-xs-2 text-center">
                    <a class="@Html.ActiveSection("home")" href="@Url.Action("index", "home")"><i class="glyphicon glyphicon-home"></i><span class="footer-nav-text"><br>Home</span></a>
                </div>
                <div class="col-xs-2 text-center">
                    @if (!User.Identity.IsAuthenticated) {
                        <a role="button" data-register="true" data-backdrop="static" data-keyboard="false" href="#modal-register" data-toggle="modal" data-target="#modal-register"><i class="glyphicon glyphicon-user"></i><span class="footer-nav-text"><br>My Matchups</span></a>
                    } else {
                        <a class="@Html.ActiveSection("coach")" href="@Url.Action("index", "coach", new { name = Model.UserData.Link })"><i class="glyphicon glyphicon-user"></i><span class="footer-nav-text"><br>My Matchups</span></a>
                    }
                </div>
                <div class="col-xs-2 text-center">
                    <a class="@Html.ActiveSection("search")" href="@Url.Action("index", "search")"><i class="glyphicon glyphicon-search"></i><span class="footer-nav-text"><br>Search</span></a>
                </div>
                <div class="col-xs-2 text-center">
                    <a class="@Html.ActiveSection("topvotedplayers")" href="@Url.Action("index", "topvotedplayers")"><i class="glyphicon glyphicon-thumbs-up"></i><span class="footer-nav-text"><br>Most Voted</span></a>
                </div>
                <div class="col-xs-2 text-center">
                    <a class="@Html.ActiveSection("leaderboard")" href='@Url.Action("index", "leaderboard")'><i class="glyphicon glyphicon-star"></i><span class="footer-nav-text"><br>Our Experts</span></a>
                </div>
            </div>
        </div>
    </div>


    @RenderSection("pagescripts", required: false) 

    <!-- javascript placed at the end of the document so the pages load faster -->   
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/assets/js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="~/assets/js/typeahead.min.js"></script>
    <!-- end of bootstrap libraries -->

    @Scripts.Render("~/assets/js/bundle")

    <script type="text/javascript" src="~/assets/js/bootstrap-list-filter.min..js"></script>

    <script>
     if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(function(reg){
         }).catch(function(err) {
        });
     }
    </script>
</body>
</html>
