@model List<WeeklyMatchups>
@using CoachCue.Model;

    @for (int i = 0; i < Model.Count; i++){

        if (Model[i].MatchupID == 0){
        <div class="matchup-item" @if (i > 0){ <text>style="display:none"</text> }>
            <div class="item">
                <div class="content-header">
                    <span class="username">Your weekly Starter picks are all set. Good Luck!</span>
                </div>
            </div>
        </div>
    
        }else{
        <div id="@Model[i].MatchupID" class="matchup-item matchup-item-pick" @if (i > 0){ <text>style="display:none"</text> }>
            <div class="item">
                <div class="content">
                    <div class="content-header">
                        <span class="username">@Model[i].Player1.PlayerName</span>
                    </div>
                    <a data-loading-text="Saving..." id="@Model[i].Player1.PlayerID" href="@Model[i].Player1.Href" class="btn btn-warning btn-small action @Model[i].Player1.CssClass" @if (!User.Identity.IsAuthenticated){ <text>data-toggle="modal"</text> }><i class="icon-large icon-thumbs-up icon-white"></i> START</a>
                    <img alt="@Model[i].Player1.PlayerName" src="@Model[i].Player1.Image" class="avatar" />
                    <p class="bio">@Model[i].Player1.PlayerDescription</p>
                    <span class="gamedetails">@Model[i].Player1.GameInfo</span>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="content-header">
                        <span class="username">@Model[i].Player2.PlayerName</span>
                    </div>
                    <a data-loading-text="Saving..." id="@Model[i].Player2.PlayerID" href="@Model[i].Player2.Href" class="btn btn-warning btn-small action @Model[i].Player2.CssClass" @if (!User.Identity.IsAuthenticated){ <text>data-toggle="modal"</text> }><i class="icon-large icon-thumbs-up icon-white"></i> START</a>
                    <img alt="@Model[i].Player2.PlayerName" src="@Model[i].Player2.Image" class="avatar" />
                    <p class="bio">@Model[i].Player2.PlayerDescription</p>
                    <span class="gamedetails">@Model[i].Player2.GameInfo</span>
                </div>
            </div>
            <div class="scoring-format">Scoring Format: <b>@Model[i].ScoringFormat</b></div>
        </div>
        }
    }