@model CoachCue.ViewModels.ConversationViewModel
@using CoachCue.Model;

<div data-parent="@Model.SourceMessageID" class="msg-convo-container">
    @foreach (message msgItem in Model.Messages)
    {
        <div data-parent="@Model.SourceMessageID" id="msg-@msgItem.messageID" class="item child user-message conversation-message @msgItem.CssClass" data-ticks="@msgItem.dateCreated.Ticks.ToString()">
            <div class="content">
                <div class="avatar user-avatar height" style='background: url(@Url.Content("~/assets/img/avatar/" + msgItem.user.avatar.imageName)) 50% 50% no-repeat;'></div>
                <div class="content-header">
                    <a class="username" href="@Url.Action("Index", "Coach", new { id = msgItem.userID, name = msgItem.user.fullName })">@msgItem.user.fullName</a>
                    <span class="time">@twitter.GetRelativeTime(msgItem.dateCreated)</span>
                </div>
                <span>@Html.Raw(@msgItem.messageText)</span>
                @if (msgItem.MessagePlayers.Count() > 0)
                {
                    <div class="player-tags">
                        @foreach (nflplayer player in msgItem.MessagePlayers)
                        {
                            <a class="player-tag-container" href="@Url.Action("Index", "Player", new { id = player.playerID, name = player.linkFullName })">
                                <span>
                                    <img src="@Url.Content("~/assets/img/Player_Icon_1-orange.png")" />@player.shortName @player.position.positionName | @player.nflteam.teamSlug
                                </span>
                            </a>
                        }
                    </div>
                }
            </div>

            <div class="message-tools">
                @if (Model.Type != "matchupDetail")
                {
                    if (Model.Messages.IndexOf(msgItem) == (Model.Messages.Count - 1))
                    {
                        <div class="message-conversation">
                            <a role="button" data-type="@Model.Type" data-src="@Model.SourceMessageID" data-msg="@msgItem.messageContextID" class="with-icn ms-action-hideconversation" href="#">
                                <i class="icon-comment"></i>Hide conversation
                            </a>
                        </div>
                    }
                }
                @if (Model.Type == "message" || Model.Type == "general")
                {
                    <ul class="message-actions">
                        <li class="action-reply-container">
                            <a data-slidepanel="panel" data-msg="@msgItem.messageID" role="button" class="with-icn ms-action-reply reply-message-panel" href="@Url.Action("ReplyMessage", "Post", new { msgID = msgItem.messageID })">
                                <i class="icon-reply"></i>Reply
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    }

    @if (Model.ShowInlineMessage)
    {
        if (Model.Messages.Count() > 0) { 
        <form data-type="@Model.Type" data-plyid="@Model.Messages.Last().MessagePlayerIDs" data-parent="@Model.SourceMessageID" class="form-horizontal stream-inline-msg inline-msg" role="form">
            <div class="form-group">
                <img class="avatar profile-avatar " src='@Url.Content("~/assets/img/avatar/" + @Model.Avatar)'>
                <div class="col-sm-10 new-matchup-msg-small">
                    <input type="text" class="new-message-input form-control" placeholder="Add to the conversation">
                </div>
                <div class="new-message-text col-sm-10" style="display: none">
                    <textarea class="new-message-input-textarea">@Model.Messages.Last().UserReplies</textarea>
                    <div class="new-message-text-controls">
                        <button data-parent="@Model.SourceMessageID" class="btn btn-success btn-inline-msg">Share</button>
                        <div class="message-charNum">140</div>
                    </div>
                </div>
            </div>
        </form>
        }
    }
</div>