@model Player
@using CoachCue.Models;

<div class="item clear player-item">
    <div class="content">
        <div class="content-header">
            <a data-player-img="@Model.ProfileImage" data-player-name="@Model.Name" data-player-pos="@Model.Position&nbsp;|&nbsp;@Model.Team.Slug" data-player-id="@Model.Id" class="player-popover username" href="@Url.Action("index", "player", new { team = Model.Team.Slug.ToLower(), name = Model.Link })">@Model.Name</a>
        </div>     
        <img alt="@Model.Name" class="avatar player-item-avatar lazy-load" src="@Model.ProfileImage">     
        <span>@Model.Position&nbsp;|&nbsp;@Model.Team.Slug</span>
    </div>
</div>
