@model List<LeaderboardCoach>
@using CoachCue.Models;

<div class="span4 pod pod-child">
    <h4>Top Correct Votes Overall</h4>

    <div id="top-overall-coaches">
        @foreach (LeaderboardCoach coach in Model)
        {
            <div class="item clear player-item">
                <div class="content">
                    <div class="content-header">
                        <a data-account-id='@coach.Coach.Id' class="username" href="@Url.Action("index", "coach", new { name = coach.Coach.Link })">@coach.Coach.Name</a>
                    </div>
                    <div class="item-hover-menu">
                        <ul class="top-coach-list">
                             <li>    
                                <span>@coach.Percent %</span>
                            </li>
                            <li>
                                <span class="coach-wrong"><i class='icon-small icon-thumbs-down'></i>@coach.Wrong</span>
                            </li>
                            <li>
                                <span class="coach-correct"><i class='icon-small icon-thumbs-up'></i>@coach.Correct</span>
                            </li>
                        </ul>
                    </div>
                    <img class="avatar player-item-avatar lazy-load" data-src="/assets/img/avatar/@coach.Coach.Profile.Image" alt="@coach.Coach.Name">
                    <span>@@@coach.Coach.UserName</span>
                    
                </div>
            </div>
        }
        <a style="white-space: nowrap;" class="link" href="@Url.Action("index", "leaderboard")">View Full Leaderboard</a>
    </div>
</div>