@model CoachCue.ViewModels.BaseViewModel
 
<div class="panel panel-default user-panel">
    <div class="panel-heading">
        <img class="avatar large welcome-avatar" src='@Url.Content("~/assets/img/avatar/" + @Model.UserData.ProfileImage)' />

        <div class="user-profile">
            <span class="welcome-user"><a href="@Url.Action("index", "coach", new { name = Model.UserData.Link })">@Model.UserData.Name</a></span>
            <span class="welcome-username"><a href="@Url.Action("index", "coach", new { name = Model.UserData.Link })">@@@Model.UserData.UserName</a></span>
        </div>
    </div>

    <div class="panel-body">
        <!-- container for info -->
        <div class="user-stats-container">

            <ul class="stats stats-list">
                <li class="first">
                    <a href="@Url.Action("index", "coach", new { name = Model.UserData.Link })">
                        Messages<strong id="message-count">@Model.UserData.Stats.MessageCount</strong>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("matchup", "coach", new { name = Model.UserData.Link })">
                        Matchups<strong>@Model.UserData.Stats.MatchupCount</strong>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index", "coach", new { name = Model.UserData.Link })">
                        Total Votes<strong>@Model.UserData.Stats.VoteCount</strong>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index", "coach", new { name = Model.UserData.Link })">
                        Correct<strong>@Model.UserData.Stats.CorrectVoteCount</strong>
                    </a>
                </li>
                
            </ul>
        </div>

        <div class="user-trophy-case">
            <h5>TROPHY CASE</h5>
            <ul class="stats trophy-list">
                @foreach (var badge in Model.UserData.Badges)
                {
                <li class="thumbnail">
                    <img alt="@badge.Title" class="img-thumbnail" style="height: 40px; width: 40px" src='@Url.Content("~/assets/img/badges/" + @badge.Image )' />
                    <div class="caption">
                        <p>@badge.Title</p>
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>
</div>