@model CoachCue.ViewModels.BaseViewModel
 
<div class="panel panel-default user-panel">
    <div class="panel-heading">
        <img class="avatar large welcome-avatar" src='@Url.Content("~/assets/img/avatar/" + @Model.UserData.ProfileImage)' />

        <div class="user-profile">
            <span class="welcome-user"><a href="@Url.Action("Index", "Coach", new { id = Model.UserData.UserId, name = Model.UserData.Name })">@Model.UserData.Name</a></span>
            <span class="welcome-username"><a href="@Url.Action("Index", "Coach", new { id = Model.UserData.UserId, name = Model.UserData.Name })">@Model.UserData.UserName</a></span>
        </div>
    </div>

    <div class="panel-body">
        <!-- container for info -->
        <div class="user-stats-container">

            <ul class="stats stats-list">
                <li class="first">
                    <a href="@Url.Action("Index", "Coach", new { id = Model.UserData.UserId, name = Model.UserData.Name })">
                        Messages<strong id="message-count">@Model.MessageCount</strong>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Matchup", "Coach", new { id = Model.UserData.UserId, name = Model.UserData.Name })">
                        Matchups<strong>@Model.MatchupCount</strong>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Coach", new { id = Model.UserData.UserId, name = Model.UserData.Name })">
                        Total Votes<strong>@Model.TotalStarters</strong>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Coach", new { id = Model.UserData.UserId, name = Model.UserData.Name })">
                        Correct<strong>@Model.CorrectStarters</strong>
                    </a>
                </li>
                
            </ul>
        </div>

        <div class="user-trophy-case" style="display: none">
            <h5>TROPHY CASE</h5>
            <ul class="stats trophy-list">
                <li><img src='@Url.Content("~/assets/img/trophy-1.png")' /></li>
            </ul>
        </div>
    </div>
</div>