@model CoachCue.ViewModels.NotificationsViewModel
@using CoachCue.Model;

@{
    ViewBag.Title = "CoachCue - Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span6 offset1 section" style="background-color: #fff;">
    
    <div style="padding: 10px 20px 10px 20px; font-size: 12px">
        <h4>Notifications</h4>
        <table class="table table-hover table-condensed">
            @foreach (var notice in Model.Notifications.Take(100))
            {
                switch( notice.Type ){
                    case "vote":
                    case "voteRequested":   
                    <tr>
                        <td>@notice.DateCreated.ToShortDateString()</td>
                        <td class="notice-img"><img src="/assets/img/avatar/@notice.UserFrom.Profile.Image" /></td>
                        <td><a href="@Href("~/" + notice.Matchup.Link)">@Html.Raw(notice.Text)</a></td>
                    </tr>
                    break;
                    case "messageMention":
                    <tr>
                        <td>@notice.DateCreated.ToShortDateString()</td>
                        <td class="notice-img"><img src="/assets/img/avatar/@notice.UserFrom.Profile.Image" /></td>
                        <td>@notice.UserFrom.Name <a href="@Url.Action("Index", "Coach", new { name = notice.UserFrom.Link })">@notice.Text</a></td>
                    </tr>
                    break;
                    case "matchupMessage":
                    <tr>
                        <td>@notice.DateCreated.ToShortDateString()</td>
                        <td class="notice-img"><img src"/assets/img/avatar/@notice.UserFrom.Profile.Image" /></td>
                        <td>@notice.UserFrom.Name @notice.Text <a href="@Href("~/" + notice.Matchup.Link)">@notice.Text</td>
                    </tr>
                    break;
                }
            }
        </table>
    </div>
</div>

@section rightcolumn {
    @{ Html.RenderPartial("_RightColumnBase", model: Model); }
}