@model CoachCue.ViewModels.NotificationsViewModel

@{
    ViewBag.Title = "CoachCue - Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span6 offset1 section" style="background-color: #fff;">
    
    <div style="padding: 10px 20px 10px 20px; font-size: 12px">
        <h4>Notifications</h4>
        <table class="table table-hover table-condensed">
            @foreach (var notice in Model.Notifications)
            {
                switch( notice.Notification.Type ){
                    case "vote":
                    case "voteRequested":   
                        <tr>
                            <td>@notice.Notification.DateCreated.ToShortDateString()</td>
                            <td class="notice-img"><img src="/assets/img/avatar/@notice.UserFrom.Profile.Image" /></td>
                            <td><a href="@Href("~/" + notice.Matchup.Link)">@Html.Raw(notice.Notification.Text)</a></td>
                        </tr>
                        break;
                    case "mention":
                        <tr>
                            <td>@notice.Notification.DateCreated.ToShortDateString()</td>
                            <td class="notice-img"><img src="/assets/img/avatar/@notice.UserFrom.Profile.Image" /></td>
                            <td><a href="@Url.Action("index", "coach", new { name = notice.UserFrom.Link })">@notice.Notification.Text</a></td>
                        </tr>
                        break;
                    case "reply":
                        <tr>
                            <td>@notice.Notification.DateCreated.ToShortDateString()</td>
                            <td class="notice-img"><img src="/assets/img/avatar/@notice.UserFrom.Profile.Image" /></td>
                            <td><a href="@Url.Action("index", "coach", new { name = notice.UserFrom.Link })">@notice.Notification.Text</a></td>
                        </tr>
                        break;
                    case "replyMatchup":
                        <tr>
                            <td>@notice.Notification.DateCreated.ToShortDateString()</td>
                            <td class="notice-img"><img src="/assets/img/avatar/@notice.UserFrom.Profile.Image" /></td>
                            <td><a href="@Href("~/" + notice.Matchup.Link)">@notice.Notification.Text</a></td>
                        </tr>
                        break;
                }
            }
        </table>
    </div>
</div>

@section rightcolumn {
    @{ Html.RenderPartial("_RightColumnBase", model: Model); }
}