@model CoachCue.ViewModels.LeaderBoardModel
@using CoachCue.Model;

@{
    ViewBag.Title = "CoachCue - LeaderBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9 section">
    <img src="@Url.Content("~/assets/img/LeaderboardHeaderGraphic_700px.png")" alt="Weekly Matchups">

    <ul class="nav nav-pills weeklist">
        <li @if( Model.SelectedWeek == 0 ){<text>class="active"</text>}>
            <a href="@Url.Action("LeaderBoard", "Coach")">Overall</a>
        </li>
        @foreach( GameWeek week in Model.Weeks ){
        <li @if( week.ID == Model.SelectedWeek ){<text>class="active"</text>}>
            <a href="@Url.Action("LeaderBoard", "Coach", new { week = @week.ID })">@week.Label</a>
        </li>
        }
    </ul>
</div>

<div id="leaderboard" class="span9 section pod">

    <table class="table table-hover">
        @if (Model.LeaderCoaches.Count() <= 0){
            <tr><td class="leaderboard-item"><span>Results are still pending</span></td></tr>
        }else{
        for (int i = 0; i < Model.LeaderCoaches.Count(); i++){
        <tr>
            <td style="width: 8px" class="leaderboard-item">
                <span>@(i + 1).</span>
            </td>
            <td class="leaderboard-item">             
                <img class="avatar player-item-avatar" src='@Url.Content("~/assets/img/avatar/" + @Model.LeaderCoaches[i].Coach.avatar.imageName)' alt="@Model.LeaderCoaches[i].Coach.fullName">
                <span><a class="username" data-account-id='@Model.LeaderCoaches[i].Coach.userID' href="@Url.Action("Index", "Coach", new { id = Model.LeaderCoaches[i].Coach.userID, name = Model.LeaderCoaches[i].Coach.fullName })">@Model.LeaderCoaches[i].Coach.fullName</a></span>     
            </td>
            <td class="leaderboard-item">
                <span class="coach-correct"><i class='icon-small icon-thumbs-up'></i>@Model.LeaderCoaches[i].Correct</span>
            </td>
            <td class="leaderboard-item">
                <span class="coach-wrong"><i class='icon-small icon-thumbs-down'></i>@Model.LeaderCoaches[i].Wrong</span>
            </td>
            <td class="leaderboard-item">
                <span>@Model.LeaderCoaches[i].Percent %</span>
            </td>
        </tr>
        }
        }
    </table>
</div>

@section playerlist
{
    <div class="row">
        @{ Html.RenderPartial("_TrendingList", model: Model.TrendingItems); }
    </div>
}