@model CoachCue.ViewModels.TeamJournalistModel
@using CoachCue.ViewModels
@using CoachCue.Model

@{
    ViewBag.Title = "Team Journalist Accounts";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}

<h2>Team Journalist Accounts</h2>

<div class="row">
    <div class="span12">

         <div>
            <form method="post" action="@Url.Action("JournalistAccounts", "ControlPanel")" id="frmRoster">
                <span>Select Team: </span>
                <select id="team" name="slug">
                    @foreach (var team in Model.Teams.OrderBy(tm => tm.Name))
                    {
                        <option @if(Model.SelectedTeam == team.Slug){ <text>selected="selected"</text> } value="@team.Slug">@team.Name</option>
                    }
                </select>
            </form>
        </div>

        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th style="width: 160px"></th>
                    <th>Name</th>
                    <th>Twitter Username</th>
                    </tr>
            </thead>
            <tbody>
                @foreach (var journalist in Model.Journalists)
                {
                <tr>
                    <td>
                        <a href='@Url.Action("DeleteTwitterAccount", "ControlPanel", new { account = @journalist, slug = @Model.SelectedTeam })' id="delete-account" class="btn btn-danger btn-mini"><i class="icon-white icon-remove"></i> Delete</a>
                    </td>
                    <td>@journalist</td>
                    <td><a target="_blank" href='http://twitter.com/@journalist'>@journalist</a></td>
                </tr>
                }
                <tr>
                    <form action="@Url.Action("AddTwitterAccount", "ControlPanel")" method="post">
                        <td>
                            <input type="hidden" id="slug" name="slug" value="@Model.SelectedTeam" />
                            <input type="submit" class="btn btn-primary btn-mini" value="Add New" />
                        </td> 
                        <td><input type="text" id="username" name="username" /></td>
                    </form>
                </tr>
            </tbody>
        </table>

    </div>
</div>