@model CoachCue.ViewModels.MatchupsViewModel
@using CoachCue.ViewModels
@using CoachCue.Models

@{
    ViewBag.Title = "Matchups";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}

<h2>Matchups</h2>

<div class="row">
    <div class="span12">

        <div>
            <form method="post" action="@Url.Action("TeamRoster", "ControlPanel")" id="frmRoster">
                <span>Select Type: </span>
                <select id="matchup-type" class="form-control">
                    @foreach (var type in MatchupType.GetList())
                    {
                        <option>@type</option>
                    }
                </select>
            </form>
        </div>

        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Scoring Type</th>
                    <th>Week</th>
                    <th>Players</th>
                </tr>
            </thead>
            <tbody>
                 @foreach (var playerMatchup in Model.Matchups)
                {
                <tr>
                    <td><a href='@Url.Action("MatchupDelete", "ControlPanel", new { id = @playerMatchup.Id })' id="delete-account" class="btn btn-danger btn-mini"><i class="icon-white icon-remove"></i> Delete</a>
                    &nbsp;<button data-matchup='@playerMatchup.Id' class="btn btn-mini edit-points">Update points</button></td>
                    <td>@playerMatchup.Type</td>
                    <td>@playerMatchup.Players[0].GameWeek.Week</td>
                    <td>
                        <table>
                            @foreach (var player in playerMatchup.Players)
                            {
                                <tr>
                                    <td>@player.Name</td>
                                    <td><input data-player="@player.Id" type="text" /></td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>