@model CoachCue.ViewModels.TeamRosterModel
@using CoachCue.ViewModels
@using CoachCue.Model

@{
    ViewBag.Title = "Team Roster";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}

<h4>Team Rosters</h4>

<div class="row">
    <div class="span12">

        <div>
            <form method="post" action="@Url.Action("TeamRoster", "ControlPanel")" id="frmRoster">
                <span>Select Team: </span>
                <select id="team" name="slug">
                    @foreach (var team in Model.Teams.OrderBy(tm => tm.Name))
                    {
                        <option @if(Model.SelectedTeam == team.Slug){ <text>selected="selected"</text> } value="@team.Slug">@team.Name</option>
                    }
                </select>
            </form>
        </div>
                 
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th style="width: 250px"></th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Number</th>
                    <th>Twitter Username</th>
                    <th>Profile Pic</th>
                    </tr>
            </thead>
            <tbody>
                @foreach (var player in Model.Players.OrderBy(ply => ply.LastName))
                {
                <tr>
                    <td>
                        <a href='@Url.Action("PlayerDelete", "ControlPanel", new { id = @player.Id, teamID = @Model.SelectedTeam })' id="delete-account" class="btn btn-danger btn-mini"><i class="icon-white icon-remove"></i> Delete</a>
                        &nbsp;<a href='@Url.Action("UpdatePlayerTwitter", "ControlPanel", new { playerID = @player.Id, teamID = @Model.SelectedTeam })' class="btn btn-primary btn-mini"> Update Twitter</a>
                        &nbsp;<a href='@Url.Action("DeletePlayerTwitter", "ControlPanel", new { playerID = @player.Id, teamID = @Model.SelectedTeam })' class="btn btn-primary btn-mini"> Delete Twitter</a>
                    </td>
                    <td>@player.Name</td>
                    <td>@player.Position</td>
                    <td>@player.Number</td>
                    <td><a target="_blank" href='http://twitter.com/@player.Twitter.Name'>@player.Twitter.Name</a></td>
                    @if (string.IsNullOrEmpty(player.Twitter.ProfileImage)){
                        <td></td>
                    }else{
                    <td><img src="@player.Twitter.ProfileImage" /></td>
                    }
                </tr>
                }
            </tbody>
        </table>
        
        <div class="btn-toolbar toolbar-share">
            <a href='@Url.Action("ImportRoster", "ControlPanel", new {slug = @Model.SelectedTeam})' id="import-roster" class="btn btn-primary"><i class="icon-white icon-pencil"></i> Import Roster</a>
            <a href='@Url.Action("BuildPlayerJson", "ControlPanel")' class="btn btn-primary"><i class="icon-white"></i> Generate Players JSON File</a>
        </div>
          
    </div>
</div>