@model CoachCue.ViewModels.PlayerTwitterModel

@using CoachCue.Model
@{
    ViewBag.Title = "Update Player Twitter";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}

<h4>Select the Players Twitter Account</h4>

<div class="row">
    <div class="span12">

        <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Twitter Username</th>
                <th>Profile Pic</th>
                </tr>
        </thead>
        <tbody>

        @foreach (var account in Model.TwitterAccounts)
        {
            <tr>
                <td>
                    <form action='@Url.Action("SelectPlayerTwitter", "ControlPanel")' method="post">
                        <input name="slug" id="slug" value="@Model.TeamSlug" type="hidden" />
                        <input name="playerID" id="playerID" value="@Model.PlayerID" type="hidden" />
                        <input name="name" id="name" value="@account.Name" type="hidden" />
                        <input name="image" id="image" value="@account.ProfileImage" type="hidden" />
                        <button type="submit" class="btn btn-primary btn-mini">Select</button>
                    </form>
                </td>
                <td><a target="_blank" href='http://twitter.com/@account.Name'>@account.Name</a></td>
                <td><img src="@account.ProfileImage" /></td>
            </tr>
        }
        </table>

        <div class="btn-toolbar toolbar-share">
            @if( Model.TwitterAccounts.Count() > 0 ){
                <a href='@Url.Action("AccountDelete", "ControlPanel", new { playerID = @Model.PlayerID, team = @Model.TeamSlug})' class="btn btn-danger">Remove Twitter Account</a>
            }
            <a href='@Url.Action("TeamRoster", "ControlPanel", new {slug = @Model.TeamSlug})' class="btn btn-primary">Cancel</a>
        </div>

    </div>
</div>