@model CoachCue.ViewModels.BaseViewModel
@using CoachCue.Helpers;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if(ViewBag.Description != null){
    <meta name="description" content="@ViewBag.Description" />
    }else{
    <meta name="description" content="CoachCue is a social network for fantasy sports." />
    }
    @if (ViewBag.Keywords != null){
    <meta name="keywords" content="@ViewBag.Keywords" />
    }else{
    <meta name="keywords" content="social network, fantasy sports, fantasy football" />
    }

    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    <link href='@Url.Content("~/assets/css/bootstrap.css")' rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!--<link href='@Url.Content("~/assets/css/bootstrap-social.css")' rel="stylesheet" type="text/css" />-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/js/libs/slidepanel/css/jquery.slidepanel.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/js/libs/jscrollpanel/jquery.jscrollpane.css")">
    <link href='@Url.Content("~/assets/css/bootstrap-modal.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/assets/css/global.css")' rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/libs/slidepanel/js/jquery.slidepanel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/libs/jscrollpanel/jquery.jscrollpane.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/libs/jscrollpanel/jquery.mousewheel.js")"></script>

    <script src="@Url.Content("~/assets/js/jquery.masonry.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/jquery.placeholder.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            setValidation();
        });

        function loginSuccess(data) {
            $("#login-error").hide();
            if (data.Success) {
                location.reload(true);
            }
            else {
                $("#login-error").show();
            }
        }
    </script>

    @{Html.RenderPartial("_GoogleAnalytics");}
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
        
            <div class="container">
                <a class="brand logo" href='@Url.Action("Index", "Home")'>CoachCue</a>

                <div class="nav-collapse">
                    <ul class="nav">

                        <li class="dropdown">
                            <a id="user-notifications" href="#" class="dropdown-toggle brand notices" data-toggle="dropdown"><span class="notice-number badge badge-warning">@Model.NoticeCount</span></a>
                            <ul id="notice-list" class="dropdown-menu">
                                <li><a href="@Url.Action("Notifications", "Account")" >View All</a></li>
                            </ul>
                        </li>

                        <li class="@Html.ActiveSection("Home")"><a href='@Url.Action("Index", "Home")'>Player Stream</a></li>
                        <li class="@Html.ActiveSection("Matchup")"><a href='@Url.Action("List", "Matchup", new { week = 0 })'>Matchups</a></li>
                        <li class="@Html.ActiveSection("Coach")"><a href='@Url.Action("Leaderboard", "Coach", new { week = 0 })'>Leaderboard</a></li>
   
                        @if (User.Identity.IsAuthenticated)
                        {           
                            <li class="dropdown you-dropdown @Html.ActiveSection("Account")">
                                <div id="avatar-wrapper">     
                                    <div class="avatar user-avatar-small height" style="background: url(/assets/img/avatar/@Model.Avatar) 50% 50% no-repeat;"></div>                        
                                </div>
                                <a title="Profile" rel="tooltip" class="dropdown-toggle you-link" data-toggle="dropdown" href="#">
                                    You<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">                      
                                    <li><a href='@Url.Action("Profile", "Account")'>Profile</a></li>
                                    <li><a class="notices-select" href="@Url.Action("Notifications", "Account")"><span class="notice-number notices-menu badge badge-important">@Model.NoticeCount</span> Notifications</a></li>
                                    <li><a href='@Url.Action("Following", "Account")'>Following</a></li>
                                    <li class="divider"></li>
                                    <li><a id="invite-btn" data-toggle="modal" href='#invite-friend-modal'>Invite a Friend</a></li>
                                    <li><a data-toggle="modal" href='#howto-modal'>How to Use CoachCue</a></li>
                                    <li class="divider"></li>
                                    <li><a href='@Url.Action("Settings", "Account")'>Settings</a></li>
                                    <li><a href='@Url.Action("LogOff", "Account")'>Logout</a></li>
                                </ul>              
                            </li>
                        }
                    </ul>
                </div>   
                
                @if (!User.Identity.IsAuthenticated)
                {
                
                    <ul class="nav pull-right">
                        <li><a data-toggle="modal" href="#register-modal">Join CoachCue!</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href='#login-modal' data-toggle="modal">Login</a></li>
                    </ul>
                
                }
            </div>
        </div>

    </div>

    <div class="container">
        
        <!-- invite a friend modal -->
        <div class="modal fade" id="invite-friend-modal" style="display: none">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h3>Invite Friends to CoachCue</h3>
            </div>

            <form id="frmSendInvite" method="post" class="validate form-horizontal">

                <div class="modal-body">
                    <div id="invite-sent" style="display: none" class="alert alert-info fade in">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Thanks! Your invite has been sent. 
                    </div>
                    <div class="control-group">    
                        <label class="standout">Enter the email address of a friend</label>
                    </div>
                    <div class="control-group">    
                        <label class="control-label standout" for="inviteEmail">Email Address</label>     
                        <div class="controls">        
                            <input type="text" id="inviteEmail" name="inviteEmail" class="bubble email" data-required="true" />
                            <span style="display: none" class="help-inline validation-message">Oops we need your friends email address</span>  
                        </div>                 
                    </div>
                    <div class="control-group">    
                        <label class="control-label standout" for="username">Add Personal Message (optional)</label>     
                        <div class="controls">        
                            <textarea id="inviteMsg" rows="6" style="width: 315px;" name="inviteMsg" class="bubble">Hey, check out a site I like called CoachCue. It's a social network website for fantasy sports.</textarea>
                        </div>                 
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="margin-left: 330px" class="sending-spinner"></div>
                    <button type="submit" id="btnSendInvite" class="btn btn-warning btn-primary">Send Invite</button>
                    <button data-dismiss="modal" class="btn">CLOSE</button>
                </div>

            </form>
        </div>

        <!-- contact modal -->
        <div class="modal fade" id="contact-modal" style="display: none">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h3>Tell us anything, we love hearing from you!</h3>
            </div>

            <form id="frmContactUs" method="post" class="validate form-horizontal">

                <div class="modal-body">
                    <div id="contact-sent" style="display: none" class="alert alert-info fade in">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Thanks! Your message has been sent. 
                    </div>

                    <div class="control-group">    
                        <label class="control-label standout" for="username">Email Address</label>     
                        <div class="controls">        
                            <input type="text" id="cntEmail" name="cntEmail" class="bubble email" data-required="true" />
                            <span style="display: none" class="help-inline validation-message">Oops we need your email address</span>  
                        </div>                 
                    </div>
                    <div class="control-group">    
                        <label class="control-label standout" for="username">Message</label>     
                        <div class="controls">        
                            <textarea id="message" rows="10" style="width: 315px;" name="message" class="bubble" data-required="true"></textarea>
                            <span style="display: none" class="help-inline validation-message">Tell us something</span>  
                        </div>                 
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="margin-left: 410px" class="sending-spinner" id="sending"></div><button type="submit" id="btnSend" class="btn btn-warning btn-primary">Send Message</button>
                </div>

            </form>
        </div>

        <!-- howto modal -->
        <div class="modal fade" id="howto-modal" style="display: none">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
            </div>

            <div class="modal-body">
            </div>
        </div>

        <!-- invite modal -->
        <div class="modal fade" id="invite-request-modal" style="display: none">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
            </div>

            <form id="frmSendInviteRequest" method="post" class="validate">

                <div class="modal-body">
                    <div id="invite-request-sent" style="display: none" class="alert alert-info fade in">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Thanks! Your invite request has been received. Someone from CoachCue will be in contact with you.
                    </div>

                    <div class="message">    
                        <h3>Join CoachCue!</h3>
                        <p>and get access to follow players, <br />post comments and vote on matchups</p>    
                    </div>
                                
                    <div class="controls">        
                        <input placeholder="Type your email address" type="text" id="inviteRequestEmail" name="inviteRequestEmail" class="bubble email search-query input-xlarge" data-required="true" />
                        <span style="display: none" class="help-inline validation-message">Oops we need your email address</span>  
                    </div>
                    <div class="controls">
                        <div style="margin-left: 117px" class="sending-spinner"></div>
                        <button type="submit" id="btnSendInviteRequest" class="btn btn-warning btn-primary">Send Invite Request</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="invite-login">     
                        Already have an account? Click here to <a href='#login-modal' data-toggle="modal">Login</a>              
                    </div>
                    <button data-dismiss="modal" class="btn">CLOSE</button>
                </div>

            </form>
        </div>

        <!-- hidden modal -->
        <div class="modal fade hidden" id="hidden-modal" style="display: none">
        </div>

        <!-- register modal -->
        <div class="modal fade" id="register-modal" style="display: none">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
            </div>

            <div class="modal-body">

                <div class="first-column well">
                    <div class="message">    
                        <h3>Create your CoachCue Account</h3>
                        <p>and get access to follow players, <br />post comments and vote on matchups</p>    
                    </div>

                    <form id="frmRegister" method="post" action="@Url.Action("CreateAccount", "Account")" class="validate form-horizontal">
                        <div class="controls">        
                            <input type="text" placeholder="Type your Name" id="regname" name="regname" class="bubble input-block-level" data-required="true" />
                            <span style="display: none" class="help-inline validation-message">Please list your full name</span>  
                        </div>                 
                        <div class="controls">        
                            <input type="text" placeholder="Type your Email Address" id="regemail" name="regemail" class="bubble input-block-level" data-validate-email="true" data-required="true" />
                            <span style="display: none" class="help-inline validation-message email-validation-message">Oops that Email Address already exists or is invalid</span>  
                        </div> 
                        <div class="controls">        
                            <input type="password" placeholder="Type your Password" id="regwrd" name="regwrd" class="bubble input-block-level" data-required="true" />
                            <span style="display: none" class="help-inline validation-message">Don't forget your password</span>  
                        </div>         

                        <button type="button" id="btnCreateAccount" class="btn btn-warning btn-primary input-block-level">Create Account</button>
                    </form>
                </div>
                    
                <div class="second-column well">
                    <div class="message">
                        <h3>Use Another Account</h3>
                    </div>
                    <form action="@Url.Action( "LoginByOpenID", "Account" )" method="get">
                        <input type="hidden" value="@Request.Url.AbsoluteUri" name="redirectUrl" />
                        <input type="hidden" id="provider" name="pvdr" value="g" />
                        <a data-provider="g" class="btn btn-danger btn-block social-login" href="#">
                            <i class="icon-google-plus icon-large pull-left"></i>&nbsp;Google&nbsp;
                        </a>
                        <a style="display: none" data-provider="y" class="btn btn-block yahoo-button social-login" href="#">
                            <i class="icon-yahoo icon-large pull-left"></i>&nbsp;Yahoo!&nbsp;
                        </a>             
                    </form>
                </div>

            </div>
                
            <div class="modal-footer">
            </div>

        </div>

        <!-- login modal -->
        <div class="modal fade" id="login-modal" style="display: none">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
            </div>

                <div class="modal-body">  
                    <div class="first-column well">
                    @using (Ajax.BeginForm("LogOnAjax", "Account", null, new AjaxOptions { HttpMethod = "post", OnSuccess = "loginSuccess" }, new { @class = "validate form-horizontal" }))
                    {    
                        <div id="login-error" style="display:none" class="control-group error">
                            <label class="standout">Email Address or Password is invalid</label>
                        </div>
                    
                        <div class="controls">
                            <input type="text" placeholder="Email Address" id="username" name="username" class="bubble input-block-level" data-required="true" />
                            <span style="display: none" class="help-inline validation-message">Gotta have an email address</span>
                        </div>
                        
                        <div class="controls">
                            <input placeholder="Password" type="password" id="password" name="password" class="bubble input-block-level" data-required="true" />
                            <span style="display: none" class="help-inline validation-message">Gotta have a password</span>
                        </div>
                        
                        <label style="display: none" class="control-label" for="rememberMe"></label>
                        <div style="display: none" class="controls">                
                            <input type="checkbox" id="rememberMe" name="rememberMe" />
                            <span class="help-inline standout">Remember Me</span>
                        </div>

                        <div class="control-group">
                            <div class="controls">                
                                <a id="forgot-password-link" href="#">Forget your Password?</a>
                            </div>
                        </div>
                        <div id="forgot-password-controls" style="display: none">      
                            <input style="display: inline" placeholder="Email Address" type="text" id="forgot-username" class="bubble " />
                            <button type="submit" id="btnGetPassword" class="btn btn-mini">Get Password</button>
    
                            <div class="control-group">
                                <label class="control-label standout"></label>
                                <div class="controls">
                                    <span id="forgot-password-message" style="display: none" class="help-inline standout"> </span>               
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="btnlogin" class="btn btn-warning input-block-level">Login</button>
                    }
                    </div>
                    <div class="second-column well">
                        <div class="message">
                            <h3>Use Another Account</h3>
                        </div>
                        <form  action="@Url.Action( "LoginByOpenID", "Account" )" method="get">
                            <input type="hidden" value="@Request.Url.AbsoluteUri" name="redirectUrl" />
                            <input type="hidden" name="pvdr" value="g" />
                            <a data-provider="y" class="btn btn-danger social-login btn-block" href="#">
                                <i class="icon-google-plus icon-large pull-left"></i>&nbsp;Google&nbsp;
                            </a>
                            <a style="display: none" data-provider="y" class="btn btn-block yahoo-button social-login" href="#">
                                <i class="icon-yahoo icon-large pull-left"></i>&nbsp;Yahoo!&nbsp;
                            </a>  
                        </form>
                    </div>
                </div>

        </div>

        @RenderSection("topbar", required: false) 
        
        <div class="row show-grid">
                        
            <div class="span3 right-side">
                
                @RenderSection("playerlist", required: false) 
                @RenderSection("topcoaches", required: false) 
                <div class="row">
                    <div class="pod pod-child">
                        
                        <ul class="footer">     
                            <li><a target="_blank" href="https://twitter.com/coachcue"><img src="@Url.Content("~/assets/img/social/twitter.png")"></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/coachcue"><img src="@Url.Content("~/assets/img/social/facebook.png")"></a></li>
                            <!--<li><a href="http://coachcue.wordpress.com/"><img src="@Url.Content("~/assets/img/social/wordpress.png")"></a></li>-->
                            <li><a href="#"><img src="@Url.Content("~/assets/img/social/wordpress.png")"></a></li> 
                            <li><a href="#contact-modal" data-toggle="modal"><img src="@Url.Content("~/assets/img/social/cue.png")"></a></li>
                        </ul>
                        
                        <ul class="footer">
                            <li><a href="#contact-modal" data-toggle="modal"></a><a href="#howto-modal" data-toggle="modal">About</a>&nbsp;|</li>
                            <li><a href="#contact-modal" data-toggle="modal">Contact Us</a>&nbsp;|</li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li class="copyright">©2013 CoachCue</li>
                        </ul>
                        
                    </div>
                </div>

                 <div class="row" style="display: none">
                    <div class="pod span5 pod-child">
                        <div>
                            <h1>Trophy Case</h1> 
                        </div>
                    </div>
                </div>
            </div>
            
            @RenderBody()

        </div>
    </div>

    @RenderSection("pagescripts", required: false) 
    <!-- javascript placed at the end of the document so the pages load faster -->   
    <script src="@Url.Content("~/assets/js/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/bootstrap-modal.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/bootstrap-modalmanager.js")" type="text/javascript"></script>
  
    <script src="@Url.Content("~/assets/js/main.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/spin.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/helpers.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/tasks.js")" type="text/javascript"></script>
</body>
</html>
