@model CoachCue.ViewModels.HomeViewModel
@using CoachCue.Model

@{
    ViewBag.Title = "Who Should I Start? - Fantasy Football 2016";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="display: none" class="home-header">CoachCue is crowd sourced Who Should I Start advice, news and much more</h1>

@{Html.RenderPartial("_ShareCtrl");}

<div id="msg-list">
    
    <input type="hidden" id="load-matchups" value="@Model.LoadMatchups" />

    <div class="panel panel-default">
        <div class="panel-body">
            <div id="stream-area">
                
                <div id="message-stream" class="message-list-stream stream-matchups stream-messages" data-ticks="@DateTime.UtcNow.GetEasternTime().Ticks">

                    @foreach (StreamContent streamItem in Model.Stream)
                    { Html.RenderPartial("_StreamItem", model: streamItem); }

                    <!-- message loader -->
                    <input type="hidden" id="get-more-messages" value="false" />
                    <div id="all-stream-loader" style="display:none" class="item clear child stream-news message-loader">
                        <div class="content">
                            <div id="loading-messages-spinner"></div>
                            <span>Loading more messages...</span>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>

@section rightcolumn {
    @{ Html.RenderPartial("_RightColumnBase", model: Model); }
}

<script type="text/javascript">
    $(function () {
        var str = '@Model.ShowRegistration';
        if (str == "True") {
            $('#register-modal').modal('show')
        }

        var welcomeStr = '@Model.ShowWelcome';
        if (welcomeStr == "True") {
            $('#howto-modal').modal('show')
        }

        var inviteStr = '@Model.ShowFriendInvite';
        if (inviteStr == "True") {
            $('#invite-friend-modal').modal('show')
        }

    });
</script>
