@model CoachCue.ViewModels.TopPlayersViewModel
@using CoachCue.Models;

@{
    ViewBag.Description = "Fantasy football Who Should I Start? Top Voted Players";
    ViewBag.Keywords = "fantasy football, Who Should I Start, Players";
    ViewBag.Title = "Who Should I Start? Top Voted Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="span8 section matchup-details-item">
    <h1 style="display: none">Who Should I Start? Top Voted Players</h1>

    <div id="search-results">
        <div id="top-voted-filter">
            @foreach (var player in Model.VotesPlayers)
            {
                <div class="item clear player-item">
                    <div class="content">
                        <div class="content-header">
                            <a data-player-id="@player.Player.Id" class="username" href="@Url.Action("index", "player", new { team = player.Player.Team.Slug.ToLower(), name = player.Player.Link })">@player.Player.ShortName</a>
                            <span>@player.Player.Position&nbsp;|&nbsp;@player.Player.Team.Slug</span>
                        </div>

                        <img class="avatar player-item-avatar" src="@player.Player.ProfileImage" alt="@player.Player.Name">
                        <a href="@Url.Action("index", "player", new {team = player.Player.Team.Slug.ToLower(), name = player.Player.Link })">
                            <span style="width: @player.Percent" class="badge trending-badge">@player.Votes</span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section rightcolumn {
    @{ Html.RenderPartial("_RightColumnBase", model: Model); }
}
