@model CoachCue.ViewModels.TopPlayersViewModel
@using CoachCue.Model;

@{
    ViewBag.Description = "Fantasy football Who Should I Start? Top Voted Players";
    ViewBag.Keywords = "fantasy football, Who Should I Start, Players";
    ViewBag.Title = "Who Should I Start? Top Voted Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="span8 section matchup-details-item">
    <h1 style="display: none">Who Should I Start? Top Voted Players</h1>

    <div id="search-results">
        <div id="top-voted-filter">
            @foreach (VotedPlayers player in Model.Players)
            {
                <div class="item clear player-item">
                    <div class="content">
                        <div class="content-header">
                            <a data-player-img="@player.Player.profilePic" data-player-name="@player.Player.fullName" data-player-pos="@player.Player.position.positionName&nbsp;|&nbsp;@player.Player.nflteam.teamSlug" data-player-id="@player.Player.playerID" class=" player-popover username" href="@Url.Action("index", "player", new { id = player.Player.playerID, name = player.Player.linkFullName })">@player.Player.shortName</a>
                            <span>@player.Player.position.positionName&nbsp;|&nbsp;@player.Player.nflteam.teamSlug</span>
                        </div>

                        <img class="avatar player-item-avatar" src="@player.Player.profilePic" alt="@player.Player.fullName">
                        <a href="@Url.Action("index", "player", new { id = player.Player.playerID, name = player.Player.linkFullName })">
                            <span style="width: @player.Percent" class="badge trending-badge">@player.Votes</span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section rightcolumn {
    @{ Html.RenderPartial("_RightColumnBase", model: Model); }
}
