@model CoachCue.ViewModels.UserViewModel
@using CoachCue.Model;

@{
    ViewBag.Title = "CoachCue - " + Model.UserDetail.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span8 section" id="userdetail">

    <div class="panel panel-default user-panel player-header">
        <div class="panel-heading">
            <a href="@Url.Action("Index", "Coach", new { name = Model.UserDetail.Link })" class="avatar user-avatar-large height" style="background: url('@Url.Content("~/assets/img/avatar/" + Model.UserDetail.Profile.Image)') 50% 50% no-repeat;"></a>
        
            <div class="header-details">
                <h4 class='username'>
                    @Model.UserDetail.Name
                    @if (Model.UserDetail.Verified)
                    {
                        <img class="user-verified" src='@Url.Content("~/assets/img/verified.png")' alt="Fantasy Pro" />
                    }
                </h4>
                <span>@@@Model.UserDetail.UserName</span>
            </div>
        </div>

        <div class="panel-body">

            <div class="user-stats-container">
                <ul class="stats stats-list">  
                    <li>
                        <a>
                            Messages<strong>@Model.UserDetail.Statistics.MessageCount</strong>
                        </a>
                    </li>             
                    <li>
                        <a href="@Url.Action("Matchup", "Coach", new {name = Model.UserDetail.Link })">
                            Matchups<strong>@Model.UserDetail.Statistics.MatchupCount</strong>
                        </a>
                    </li>
                    <li>
                        <a>
                            Total Votes<strong>@Model.UserDetail.Statistics.VoteCount</strong>
                        </a>
                    </li>
                    <li>
                        <a>
                            Correct Votes<strong>@Model.UserDetail.Statistics.CorrectVoteCount</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel-footer">
            <span>Joined: @Model.UserDetail.DateCreated.ToShortDateString()</span>
            @if(!string.IsNullOrEmpty(Model.UserDetail.Profile.Website)){
                <div class="user-website">
                    <span class="glyphicon glyphicon-globe"></span>
                    <a class="user-website-link" target="_blank" href="@Model.UserDetail.Profile.Website">@Model.UserDetail.Profile.Website</a>
                </div>
                }
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body clear-body">
            <div id="stream-area">
                <div id="user-message-stream" class="message-list-stream">
                    @foreach (var streamItem in Model.UserStream)
                    {
                        Html.RenderPartial("_StreamItem", model: streamItem);
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section rightcolumn {
    @{ Html.RenderPartial("_RightColumnBase", model: Model); }
}