@model CoachCue.ViewModels.UserViewModel
@using CoachCue.Model;

@{
    ViewBag.Title = "CoachCue - " + Model.UserDetail.fullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span8 section" id="userdetail">

    <div class="panel panel-default user-panel player-header">
        <div class="panel-heading">
            <a href="@Url.Action("Index", "Coach", new { id = Model.UserDetail.userID, name = Model.UserDetail.fullName })" class="avatar user-avatar-large height" style="background: url('@Url.Content("~/assets/img/avatar/" + Model.UserDetail.avatar.imageName)') 50% 50% no-repeat;"></a>

            @if (Model.AccountID != Model.UserDetail.userID) { 
                if (!Model.UserDetail.isFollowing)
                {
                    <a data-account-type="users" data-account='@Model.UserDetail.userID' class="btn btn-success btn-mini follow action" href="#"><i class="icon-plus-sign"></i>Follow</a>
                }
                else
                {
                    <a data-account-type="users" data-account='@Model.UserDetail.userID' class="btn btn-danger unfollow btn-mini action" href="#"><i class="icon-minus-sign"></i>Unfollow</a>
                }
            }
            <div class="header-details">
                <h4 class='username'>
                    @Model.UserDetail.fullName
                    @if (Model.UserDetail.verified)
                    {
                        <img class="user-verified" src='@Url.Content("~/assets/img/verified.png")' alt="Fantasy Pro" />
                    }
                </h4>
                <span>@@@Model.UserDetail.userName</span>
            </div>
        </div>

        <div class="panel-body">

            <div class="user-stats-container">
                <ul class="stats stats-list">
                    <li>
                        <a>
                            Messages<strong id="message-count">@Model.UserDetail.MessageCount</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Following", "Account", new { id = Model.UserDetail.userID })">
                            Following<strong id=" following-count">
                            @Model.UserDetail.FollowingCount</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Followers", new { id = Model.UserDetail.userID, type = "users",  name = Model.UserDetail.fullName })">
                            Followers<strong id="coachfollow-count-@Model.UserDetail.userID">@Model.Followers</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Matchup", "Coach", new { id = Model.UserDetail.userID, name = Model.UserDetail.fullName })">
                            Matchups<strong>@Model.UserDetail.MatchupCreatedCount</strong>
                        </a>
                    </li>
                    <li>
                        <a>
                            Total Votes<strong>@Model.UserDetail.TotalMatchupVotes</strong>
                        </a>
                    </li>
                    <li>
                        <a>
                            Correct Votes<strong>@Model.UserDetail.TotalCorrectVotes</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel-footer">
            <span>Joined: @Model.UserDetail.DateJoined</span>
            @if(!string.IsNullOrEmpty(Model.UserDetail.website)){
                <div class="user-website">
                    <span class="glyphicon glyphicon-globe"></span>
                    <a class="user-website-link" target="_blank" href="@Model.UserDetail.website">@Model.UserDetail.website</a>
                </div>
                }
        </div>
    </div>

    @{Html.RenderPartial("_ShareCtrl");}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">User Stream</h3>
        </div>
        <div class="panel-body clear-body">
            <div id="stream-area">
                <div id="user-message-stream" class="message-list-stream">
                    @foreach (StreamContent streamItem in Model.UserStream)
                    {
                        Html.RenderPartial("_StreamItem", model: streamItem);
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section rightcolumn {
    @{ Html.RenderPartial("_RightColumnBase", model: Model); }
}