@model CoachCue.ViewModels.LeaderBoardModel
@using CoachCue.Models;

@{
    ViewBag.Title = "CoachCue - LeaderBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9 section">

    <ul class="nav nav-pills weeklist">
        <li @if (Model.SelectedWeek == 0) { <text> class="active" </text>  }>
            <a href="@Url.Action("Index", "LeaderBoard", new { week = 0 })">Overall</a>
        </li>
        @foreach (var week in Model.Weeks)
        {
            <li @if (week.Week == Model.SelectedWeek) { <text> class="active" </text>  }>
                <a href="@Url.Action("Index", "LeaderBoard", new { week = @week.Week })">@week.Week</a>
            </li>
        }
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">LeaderBoard</h3>
    </div>
    <div class="panel-body">
        <div id="leaderboard" class="span9 section pod">
            <div class="table-responsive">
                <table id="leaderboard-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>
                                @if (Model.Sort == "percent")
                                {
                                    if (Model.Direction == "desc")
                                    {
                                        <a href="@Url.Action("Index", "LeaderBoard", new { sort = "percent", dr = "asc", week = @Model.SelectedWeek })">Percent <span class="glyphicon glyphicon-chevron-down"></span></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Index", "LeaderBoard", new { sort = "percent", dr = "desc", week = @Model.SelectedWeek })">Percent <span class="glyphicon glyphicon-chevron-up"></span></a>
                                    }
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "LeaderBoard", new { sort = "percent", dr = "asc", week = @Model.SelectedWeek })">Percent</a>
                                }
                            </th>
                            <th>
                                @if (Model.Sort == "wrong")
                                {
                                    if (Model.Direction == "desc")
                                    {
                                        <a href="@Url.Action("Index", "LeaderBoard", new { sort = "wrong", dr = "asc", week = @Model.SelectedWeek })">Wrong <span class="glyphicon glyphicon-chevron-down"></span></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Index", "LeaderBoard", new { sort = "wrong", dr = "desc", week = @Model.SelectedWeek })">Wrong <span class="glyphicon glyphicon-chevron-up"></span></a>
                                    }
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "LeaderBoard", new { sort = "wrong", dr = "asc", week = @Model.SelectedWeek })">Wrong</a>
                                }
                            </th>
                            <th>
                                @if (Model.Sort == "correct")
                                {
                                    if (Model.Direction == "desc")
                                    {
                                        <a href="@Url.Action("Index", "LeaderBoard", new { sort = "correct", dr = "asc", week = @Model.SelectedWeek })">Correct <span class="glyphicon glyphicon-chevron-down"></span></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Index", "LeaderBoard", new { sort = "correct", dr = "desc", week = @Model.SelectedWeek })">Correct <span class="glyphicon glyphicon-chevron-up"></span></a>
                                    }
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "LeaderBoard", new { sort = "correct", dr = "asc", week = @Model.SelectedWeek })">Correct</a>
                                }
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.LeaderCoaches.Count() <= 0)
                        {
                            <tr>
                                <td colspan="4" class="leaderboard-item"><span>Results are still pending</span></td>
                            </tr>
                        }
                        else
                        {
                            for (int i = 0; i < Model.LeaderCoaches.Count(); i++)
                            {
                                <tr>
                                    <td class="leaderboard-item">
                                        <span>@(i + 1).&nbsp;</span>
                                        <img class="avatar player-item-avatar" style="position: relative" src='@Url.Content("~/assets/img/avatar/" + @Model.LeaderCoaches[i].Coach.Profile.Image)' alt="@Model.LeaderCoaches[i].Coach.Name">
                                        <span>&nbsp;<a class="username" href="@Url.Action("Index", "Coach", new { name = Model.LeaderCoaches[i].Coach.Link })">@Model.LeaderCoaches[i].Coach.Name</a></span>
                                        @if (Model.LeaderCoaches[i].Coach.Verified)
                                        {
                                            <img class="user-verified-small" src='@Url.Content("~/assets/img/verified_small.png")' alt="Fantasy Pro" />
                                        }
                                    </td>
                                    <td class="leaderboard-item">
                                        <span>@Model.LeaderCoaches[i].Percent %</span>
                                    </td>
                                    <td class="leaderboard-item">
                                        <span class="coach-wrong"><i class='icon-small icon-thumbs-down'></i>@Model.LeaderCoaches[i].Wrong</span>
                                    </td>
                                    <td class="leaderboard-item">
                                        <span class="coach-correct"><i class='icon-small icon-thumbs-up'></i>@Model.LeaderCoaches[i].Correct</span>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section rightcolumn {
    @{ Html.RenderPartial("_RightColumnBase", model: Model); }
}

@section pagescripts {
    <script src="https://files-stackablejs.netdna-ssl.com/stacktable.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#leaderboard-table').stacktable();
    </script>
}