@model CoachCue.ViewModels.PlayerViewModel
@using CoachCue.Model

@{
    ViewBag.Title = "Fantasy football realtime news and comments for " + Model.PlayerDetail.Name;
    ViewBag.Description = "Fantasy football realtime news and comments for " + Model.PlayerDetail.Name;
    ViewBag.Keywords = "fantasy football, News, " + Model.PlayerDetail.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span8 section" id="playerdetail">

    <div class="panel panel-default user-panel player-header" data-player='@Model.PlayerDetail.Id'>
        <div class="panel-heading">
            <img class='avatar large' src='@Model.PlayerDetail.ProfileImageLarge' />
       
            <div class="header-details">
                <span class='username'>@Model.PlayerDetail.Name</span>
                <span>@Model.PlayerDetail.Position&nbsp;|&nbsp;@Model.PlayerDetail.Team.Slug</span>
            </div>
        </div>

        <div class="panel-body">
        </div>

    </div>

    <ul class="nav nav-pills player-filter">
        <li class="active">
            <a class="stream-filter-item" data-player="@Model.PlayerDetail.Id" data-view="stream" href="#">Stream</a>
        </li>
        <li>
            <a class="stream-filter-item" data-player="@Model.PlayerDetail.Id" data-view="news" href="#">News</a>
        </li>
        <li>
            <div id="filter-matchup-spinner"></div>
        </li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-body clear-body">
            <div id="stream-area">
                <div id="player-message-stream">

                    <div id="@Model.PlayerDetail.Id" class="player-stream message-list-stream stream-matchups stream-messages">
                        @foreach (var streamItem in Model.PlayerStream)
                        { Html.RenderPartial("_StreamItem", streamItem, new ViewDataDictionary { { "UserImage", Model.UserData.ProfileImage } }); }
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

@section rightcolumn {
    @{ Html.RenderPartial("_RightColumnBase", model: Model); }
}